<form method="post" action="{{ path('app_backend_postulant_select', {'id': postulant.id}) }}">
    <input type="hidden" name="_token" value="{{ csrf_token('select' ~ postulant.id) }}">
    <button type="button" class="btn btn-primary" onclick="btnSubmit()">Sélectionner</button>
    <a href="{{ path('app_backend_postulant_edit', {'id': postulant.id}) }}" class="btn btn-outline-secondary">Modifier</a>
</form>
