{% extends 'base.html.twig' %}

{% block body %}
    <section class="profile" id="profile">
        <div class="container">
            <div class="row">
                {% include 'frontend/beneficiaire_menu.html.twig' %}
                <div class="col-12 col-lg-9 profile-content">
                    <h2 class="titre">Mon CV</h2>

                    {{ form_start(form) }}
                    <div class="row form-group mt-5">
                        <div class="col-12">{{ form_widget(form) }}</div>
                        <div class="text-end mt-5">
                            <button type="submit" class="btn btn-main">Enregistrer</button>
                        </div>
                    </div>
                    {{ form_end(form) }}

                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block title %}{{ parent() }} Mon CV{% endblock %}

{% block breadcrumb %}
    <section class="bread" id="breadcrumb">
        <div class="container">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="#">Accueil</a></li>
                    <li class="breadcrumb-item"><a href="#">Mon espace</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Mon CV</li>
                </ol>
            </nav>
        </div>
    </section>
{% endblock %}
