{% extends 'base.html.twig' %}

{% block body %}
    <section class="profile" id="profile">
        <div class="container">
            <div class="row">
                {% include 'frontend/beneficiaire_menu.html.twig' %}
                <div class="col-12 col-lg-9 profile-content">
                    <h2 class="titre">Mon CV</h2>

                    <div class="row form-group mt-5">
                        <div class="col-12">
                            <embed src="{{ absolute_url(asset('upload/cv/' ~ cv.media)) }}" width="800px" height="600px" type="application/pdf">
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block title %}{{ parent() }} Mon CV{% endblock %}

{% block breadcrumb %}
    <section class="bread" id="breadcrumb">
        <div class="container">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="#">Accueil</a></li>
                    <li class="breadcrumb-item"><a href="#">Mon espace</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Mon CV</li>
                </ol>
            </nav>
        </div>
    </section>
{% endblock %}
